@page
@model TeamOrganiser.EditFootballPlayersModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FootballPlayer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FootballPlayer.ID" />
            <div class="form-group">
                <label asp-for="FootballPlayer.Name" class="control-label"></label>
                <input asp-for="FootballPlayer.Name" class="form-control" />
                <span asp-validation-for="FootballPlayer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootballPlayer.Email" class="control-label"></label>
                <input asp-for="FootballPlayer.Email" class="form-control" />
                <span asp-validation-for="FootballPlayer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootballPlayer.Defender" class="control-label"></label>
                <input asp-for="FootballPlayer.Defender" class="form-control" />
                <span asp-validation-for="FootballPlayer.Defender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootballPlayer.Midfielder" class="control-label"></label>
                <input asp-for="FootballPlayer.Midfielder" class="form-control" />
                <span asp-validation-for="FootballPlayer.Midfielder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FootballPlayer.Attacker" class="control-label"></label>
                <input asp-for="FootballPlayer.Attacker" class="form-control" />
                <span asp-validation-for="FootballPlayer.Attacker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
