@page
@model TeamOrganiser.CreateAccountsModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserAccount.Name" class="control-label"></label>
                <input asp-for="UserAccount.Name" class="form-control" />
                <span asp-validation-for="UserAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Email" class="control-label"></label>
                <input asp-for="UserAccount.Email" class="form-control" />
                <span asp-validation-for="UserAccount.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.AccountType" class="control-label"></label>
                <select asp-for="UserAccount.AccountType" asp-items="Html.GetEnumSelectList<Models.Account.AccountType>()" class="form-control">
                    <option value="">Choose account type..</option>
                </select>
                <span asp-validation-for="UserAccount.AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount.Password" class="control-label"></label>
                <input asp-for="UserAccount.Password" class="form-control" />
                <span asp-validation-for="UserAccount.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
