<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" id="createForm" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" name="firstname" id="inputCreateFirstName" placeholder="First Name" value="">
                        </div>
                        <div class="form-group">
                            <label for="inputLastName">Last Name</label>
                            <input type="text" class="form-control" name="lastname" id="inputCreateLastName" placeholder="Last Name" value="">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">E-mail</label>
                            <input type="email" class="form-control" name="email" id="inputCreateEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="inputContactNumber">Contact No.</label>
                            <input type="number" class="form-control" name="phonenumber" id="inputCreatePhoneNumber" placeholder="Phone Number">
                        </div>
                        <label>Sports:</label>
                        <div class="form-group">
                            @foreach (Models.Sport sport in (Models.Sport[])Enum.GetValues(typeof(Models.Sport)))
                            {
                                @sport;
                                @Html.Raw(":");
                                <input type="checkbox">
                                <br />
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createModal()">Create Account</button>
            </div>
        </div>
    </div>
</div>
